<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Hírek</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Cím</th>
          <th>Leírás</th>
          <th>Kategória</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | async">
          <td>{{employee.firstName}}</td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.emailId}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>